<!DOCTYPE html>
<html>
  <head>
<title>POLLING</title>
<base href="/index.html">
<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
<meta name="keywords" content="docker-compose, docker, stack">
<meta name="author" content="Swapnilsocial">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel='stylesheet' href="{{ url_for('static',filename='style.css') }}" >
<link rel="stylesheet" href="{{ url_for('static',filename='formats.css')}}">
        </head>
      <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
  <style>
body, html {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("static/themes/{{ theme }}.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>

  <body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">

    <div id="content-container" class="bgimg">
      <div id="content-container-center">
        <h1 style="color: red">{{  user_status }} </h1><br>
          <h3 class="textfield" >{{  title  }}</h3>
    <form id="choice" method="post" action="/{{  uname  }}/{{ poll_key }}/{{  title  }}/votenow">
    <span class="textfield" >Contestant 1</span> <input type="text" placeholder="type here" required name="text_title1"></br> <span class="textfield" >Contestant 2</span> <input type="text" placeholder="type here" required name="text_title2"></br> 
 <!--         <input type="file" id="myFile" name="filename"><br/><br/><br/><br/> -->
      <button value="{{  poll_key  }}" type="submit" name="pet" class="a" style="color: blue">CREATE POLLING</button>
    </form>

        <div id="hostname">
 <!--         Processed by container ID {{hostname}} -->
        </div>
      </div>
    </div>


     <footer class="footer footer-default">
        <div class="container">
            <div class="copyright w3-center">
    <p>Author: Swapnil Joshi<br>
  <a href="mailto:swapniljoshisj20@gmail.com">swapniljoshisj20@gmail.com</a><br>
  <a href="https://github.com/swapnilsocial">swapnilsocial@github</a><br>
  <a href="https://www.linkedin.com/in/swapnilsocial">swapnilsocial@linkedin</a></p>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="copyright w3-center" >
                       VoteOut v2.0.0
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>